node_modules/
dist/
lib/
*.tsbuildinfo

# Build outputs
src/app/dist/
src/packages/*/dist/
src/services/*/lib/

# Firebase emulator logs and temp files
firebase-debug.log
firestore-debug.log
emulator.log
hub-*.json
.cache/firebase/
.cache/firebase/**